html {
    height: 100%;
}

body {
    background-color: gray;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: flex-start;
}

h2 {
    margin: 40px 5px 0;
    font-size: 1.5rem;
}

* {
    transition: all .3s;
}